# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
.pytest_cache/

# Distribution / packaging
*.egg-info/
dist/
build/

# Jupyter Notebook
.ipynb_checkpoints/

# Environment files
.venv/
env/
venv/
ENV/

# Spyder project settings
.spyderproject
.spyproject

# VS Code settings
.vscode/

# PyCharm settings (optional, remove if not needed)
.idea/

# Operating system files
.DS_Store

# Project specific settings
*.ipynb

# folders
MNIST/
data/
models/
*.sh
